@import url('https://fonts.googleapis.com/css?family=Lobster');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.player-list {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  padding: 10px;
  margin: 10px;
  overflow-y: scroll;
  max-height: 400px;
}

.league-container {
  display: flex;
  flex-direction: row;
}

.league-team {
  display: flex;
  flex-direction: row;
  border: 1px dashed white;
  padding: 50px;
  margin: 10px;
}

.logo-navbar {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 40px;
}
.logo-login {
  color: white;
  font-family: 'Lobster', cursive;
  font-size: 60px;
}

.navbar {
  background-color: #d63031;
}

.welcome-font {
  color: white
}

.welcome {
  opacity: 0.95;
  background-color: #1b1c1d;
  border: 1px dashed white;
  padding: 50px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.menu {
  height: 9vh;
  margin-bottom: 0px
}

.user-container {
  border: 1px dashed white;
  padding: 50px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.application {
  height: 110vh;
  width: 200vh;
  margin-top: -30px;
  background-image: url("https://cdn.wallpapersafari.com/45/30/7wkubU.jpg");
  background-size: cover;

}
